<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End : Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
"pages": "",
"nav": ""
})
<!-- End: header -->

<div id="board">
  <section class="board-notice">
    <div class="notice-header">
      <div class="header-icon">
        <i class="notice-icon"></i>
      </div>
      <h3 class="notice-title">공지사항</h3>
    </div>
    <!-- board search area -->
    <div class="board-search">
      <div class="search-window">
        <form class=search-form action="">
          <div class="search-wrap">
            <div class="search-input">
              <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
            </div>
            <div class="search-btn">
              <button type="submit" class="btn">검색</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
      <table class="board-table">
        <thead>
        <tr>
          <th scope="col" class="th-num">번호</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-date">등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr id="boardList">
          <td data-target="number"></td>
          <td>
            <a href="/board-detail.html" data-target="title"></a>
          </td>
          <td data-target="registrationDate"></td>
        </tr>
        <tr>
          <td>2</td>
          <th><a href="#">공지사항 안내입니다. 이용해주셔서 감사합니다</a></th>
          <td>2017.06.15</td>
        </tr>
        <tr>
          <td>1</td>
          <th><a href="#">공지사항 안내입니다. 이용해주셔서 감사합니다</a></th>
          <td>2017.06.15</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
@@include('./partial/script.html')
<script>
/*  document.write("<table>")
  axios.get('http://localhost:3000/board')
    .then(function (response) {
      // 성공 핸들링
      for (rows = 0; rows <= response.data.length; rows++) {
        response.data.forEach(item => {
          console.log(item);
          const board =document.querySelector('#boardList');
          /!*for(col = 0; col <= board; col++ ) {
            board.innerHTML +=
              `<td>${item.idx}</td>
             <td><a>${item.title}</a></td>
             <td>${item.registrationDate}</td>
            `;
          }*!/
          /!*board.innerHTML +=
            `<td>${item.idx}</td>
             <td><a>${item.title}</a></td>
             <td>${item.registrationDate}</td>
            `;*!/
        })
      }

    })
    .catch(function (error) {
      // 에러 핸들링
      console.log(error);
    })
    .then(function () {
      // 항상 실행되는 영역
    });
  document.write(" </table> ")*/
</script>
</body>
</html>
