<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">탱크 버텀 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products211/TBBV.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="150" height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">25A(1") ~ 150A(6")</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">ATBB-Series</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Pneumatic Double Acting / Single Acting / Spring Return(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Media</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Compressed Dry Air</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF"><p>-10℃ ~ 110℃</p></td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(A216 WCB, A351 CF8, 8M) / Ball(A351 CF8, 8M/A182&nbsp;F304, 316) / Seat(RTFE, RTFE, PEEK, Metal)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Solenoid Valve, Limit Switch Box, Air Filter &amp; Regulator, Speed Controller, E/P Positioner, Manual Handle</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products211/TBBV-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">K</td>
                              <td colspan="6" align="center" bgcolor="#EFEFEF">TANK PAD CONNECTION(MAKER STANDARD)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">T</td>
                              <td align="center" bgcolor="#EFEFEF">Ød</td>
                              <td align="center" bgcolor="#EFEFEF">Øg</td>
                              <td align="center" bgcolor="#EFEFEF">ØC</td>
                              <td align="center" bgcolor="#EFEFEF">ØD</td>
                              <td align="center" bgcolor="#EFEFEF">N-ØH</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB50-25F</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">235</td>
                              <td align="center" bgcolor="#FFFFFF">93</td>
                              <td align="center" bgcolor="#FFFFFF">28.5</td>
                              <td align="center" bgcolor="#FFFFFF">25</td>
                              <td align="center" bgcolor="#FFFFFF">25</td>
                              <td align="center" bgcolor="#FFFFFF">49</td>
                              <td align="center" bgcolor="#FFFFFF">105</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">4-15</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB65-40F</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">289</td>
                              <td align="center" bgcolor="#FFFFFF">109</td>
                              <td align="center" bgcolor="#FFFFFF">29</td>
                              <td align="center" bgcolor="#FFFFFF">25</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">61</td>
                              <td align="center" bgcolor="#FFFFFF">120</td>
                              <td align="center" bgcolor="#FFFFFF">155</td>
                              <td align="center" bgcolor="#FFFFFF">4-15</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB65-50F</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">302</td>
                              <td align="center" bgcolor="#FFFFFF">124</td>
                              <td align="center" bgcolor="#FFFFFF">32</td>
                              <td align="center" bgcolor="#FFFFFF">28</td>
                              <td align="center" bgcolor="#FFFFFF">50</td>
                              <td align="center" bgcolor="#FFFFFF">77</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">175</td>
                              <td align="center" bgcolor="#FFFFFF">4-15</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB80-65F</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">331</td>
                              <td align="center" bgcolor="#FFFFFF">131</td>
                              <td align="center" bgcolor="#FFFFFF">37</td>
                              <td align="center" bgcolor="#FFFFFF">30</td>
                              <td align="center" bgcolor="#FFFFFF">65</td>
                              <td align="center" bgcolor="#FFFFFF">102</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">195</td>
                              <td align="center" bgcolor="#FFFFFF">6-15</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB80-80F</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">351</td>
                              <td align="center" bgcolor="#FFFFFF">153</td>
                              <td align="center" bgcolor="#FFFFFF">45</td>
                              <td align="center" bgcolor="#FFFFFF">32</td>
                              <td align="center" bgcolor="#FFFFFF">80</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">210</td>
                              <td align="center" bgcolor="#FFFFFF">250</td>
                              <td align="center" bgcolor="#FFFFFF">6-19</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB100-100F</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">383</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">62.5</td>
                              <td align="center" bgcolor="#FFFFFF">35</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">166</td>
                              <td align="center" bgcolor="#FFFFFF">240</td>
                              <td align="center" bgcolor="#FFFFFF">280</td>
                              <td align="center" bgcolor="#FFFFFF">8-19</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB125-125F</td>
                              <td align="center" bgcolor="#FFFFFF">151</td>
                              <td align="center" bgcolor="#FFFFFF">450</td>
                              <td align="center" bgcolor="#FFFFFF">254</td>
                              <td align="center" bgcolor="#FFFFFF">62.5</td>
                              <td align="center" bgcolor="#FFFFFF">43</td>
                              <td align="center" bgcolor="#FFFFFF">125</td>
                              <td align="center" bgcolor="#FFFFFF">192</td>
                              <td align="center" bgcolor="#FFFFFF">265</td>
                              <td align="center" bgcolor="#FFFFFF">305</td>
                              <td align="center" bgcolor="#FFFFFF">8-19</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATBB140-150F</td>
                              <td align="center" bgcolor="#FFFFFF">164</td>
                              <td align="center" bgcolor="#FFFFFF">516</td>
                              <td align="center" bgcolor="#FFFFFF">277</td>
                              <td align="center" bgcolor="#FFFFFF">62.5</td>
                              <td align="center" bgcolor="#FFFFFF">45</td>
                              <td align="center" bgcolor="#FFFFFF">150</td>
                              <td align="center" bgcolor="#FFFFFF">243</td>
                              <td align="center" bgcolor="#FFFFFF">310</td>
                              <td align="center" bgcolor="#FFFFFF">350</td>
                              <td align="center" bgcolor="#FFFFFF">8-23</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
