<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">플랜지 3 way 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products205/3FB.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="148" height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">15A ~ 200A</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AD50 ~ AD200</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Pneumatic Double Acting(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">-10℃ ~ 150℃</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#(300#)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(A216 WCB, A351 CF8, 8M) / Ball(A182 F304, 316) / Seat(PTTE, RTFE, PEEK, Matal)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Solenoid Valve,  Limit Switch Box, Air filter Regulator, E/P Positioner</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products205/3FB-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L/2</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">mm</td>
                              <td align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-15F3W</td>
                              <td align="center" bgcolor="#FFFFFF">15A</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">181</td>
                              <td align="center" bgcolor="#FFFFFF">180</td>
                              <td align="center" bgcolor="#FFFFFF">90</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-20F3W</td>
                              <td align="center" bgcolor="#FFFFFF">20A</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">184</td>
                              <td align="center" bgcolor="#FFFFFF">190</td>
                              <td align="center" bgcolor="#FFFFFF">95</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-25F3W</td>
                              <td align="center" bgcolor="#FFFFFF">25A</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">214</td>
                              <td align="center" bgcolor="#FFFFFF">200</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-40F3W</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">217</td>
                              <td align="center" bgcolor="#FFFFFF">240</td>
                              <td align="center" bgcolor="#FFFFFF">120</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-50F3W</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">261</td>
                              <td align="center" bgcolor="#FFFFFF">260</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-65F3W</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">270</td>
                              <td align="center" bgcolor="#FFFFFF">320</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD100-80F3W</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">311</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">330</td>
                              <td align="center" bgcolor="#FFFFFF">360</td>
                              <td align="center" bgcolor="#FFFFFF">180</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD125-100F3W</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">390</td>
                              <td align="center" bgcolor="#FFFFFF">151</td>
                              <td align="center" bgcolor="#FFFFFF">368</td>
                              <td align="center" bgcolor="#FFFFFF">430</td>
                              <td align="center" bgcolor="#FFFFFF">215</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD140-125F3W</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">431</td>
                              <td align="center" bgcolor="#FFFFFF">164</td>
                              <td align="center" bgcolor="#FFFFFF">450</td>
                              <td align="center" bgcolor="#FFFFFF">520</td>
                              <td align="center" bgcolor="#FFFFFF">260</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD160-150F3W</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">506</td>
                              <td align="center" bgcolor="#FFFFFF">189</td>
                              <td align="center" bgcolor="#FFFFFF">500</td>
                              <td align="center" bgcolor="#FFFFFF">560</td>
                              <td align="center" bgcolor="#FFFFFF">280</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD200-200F3W</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">605</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">643</td>
                              <td align="center" bgcolor="#FFFFFF">660</td>
                              <td align="center" bgcolor="#FFFFFF">330</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
