<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "transmission-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">전동제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">전동 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">플랜지 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products403/1.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">15A(1/2") ~ 350A(14")</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">ATM0040 ~ ATM3000</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Electric</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Electrical</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AC110V 220V, AC380V 440V</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">On / Off, Modulating (Except for ATM0040)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temp</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">-20℃ ~ 70℃</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150# (300#, 600#)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(WCB A216, A351 CF8, 8M) / Ball(A351 CF8, 8M, A182 F304, 316) / Seat(PTFE, PEEK, Metal)</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products403/2.jpg" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Actuator</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (APPROX.)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H2</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L±1.6</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">mm</td>
                              <td align="center" bgcolor="#EFEFEF">Inch</td>
                              <td align="center" bgcolor="#EFEFEF">A</td>
                              <td align="center" bgcolor="#EFEFEF">A1</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-15F</td>
                              <td align="center" bgcolor="#FFFFFF">15A</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">233</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">108</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-20F</td>
                              <td align="center" bgcolor="#FFFFFF">20A</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">236</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">117</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-25F</td>
                              <td align="center" bgcolor="#FFFFFF">25A</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">245</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">127</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-32F</td>
                              <td align="center" bgcolor="#FFFFFF">32A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">248</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-40F</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">258</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">165</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-50F</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">256</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">178</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0160-65F</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">338</td>
                              <td align="center" bgcolor="#FFFFFF">229</td>
                              <td align="center" bgcolor="#FFFFFF">406</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">190</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0160-80F</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">338</td>
                              <td align="center" bgcolor="#FFFFFF">229</td>
                              <td align="center" bgcolor="#FFFFFF">482</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">203</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0350-100F</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">357</td>
                              <td align="center" bgcolor="#FFFFFF">244</td>
                              <td align="center" bgcolor="#FFFFFF">492</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">229</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0500-125F</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">357</td>
                              <td align="center" bgcolor="#FFFFFF">244</td>
                              <td align="center" bgcolor="#FFFFFF">547</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">356</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0800-150F</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">380</td>
                              <td align="center" bgcolor="#FFFFFF">287</td>
                              <td align="center" bgcolor="#FFFFFF">543</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">397</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM1100-200F</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">380</td>
                              <td align="center" bgcolor="#FFFFFF">287</td>
                              <td align="center" bgcolor="#FFFFFF">645</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">457</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM2000-250F</td>
                              <td align="center" bgcolor="#FFFFFF">250A</td>
                              <td align="center" bgcolor="#FFFFFF">10"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">813</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">533</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM2000-300F</td>
                              <td align="center" bgcolor="#FFFFFF">300A</td>
                              <td align="center" bgcolor="#FFFFFF">12"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">875</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">610</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM3000-350F</td>
                              <td align="center" bgcolor="#FFFFFF">350A</td>
                              <td align="center" bgcolor="#FFFFFF">14"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">951</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">686</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
