<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
    <article class="product-bg">

        <div class="product-contents">
            <section class="product-top-area">
                <!-- 제품 대카테고리 -->
                <header class="product-header">
                    <i class="product-icon"></i>
                    <h1 class="product-title">공압제품</h1>
                </header>
                <div class="product-bar"></div>
                <div class="product-circle"></div>

                <!-- 중카테고리 / 제품 타입 -->
                <div>
                    <div class="product-tab">
                        <ul class="nav">
                            <li class="product__item active">
                                <a class="tab-btn" data-toggle="tab" href="#alcdSeries">ALCD Series</a>
                            </li>
                            <li class="product__item">
                                <a class="tab-btn" data-toggle="tab" href="#alcsSeries">ALCS Series</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
            <div class="tab-content">
                <!-- ALCD 타입 -->
                <div id="alcdSeries" class="product-tab-contents tab-pane fade show active">
                    <div class="tab-contents__title">
                        <p class="product-sub-title">
                            <span class="product-ctg">공압 구동기</span>
                            <span class="product-arrow"></span>
                            <span class="product-type">리니어 타입</span>
                        </p>
                        <!-- 상단 이미지 -->
                        <section class="product-section">
                            <figure class="product-figure full">
                                <img src="/assets/img/products/products04/alcd/ALCD.gif" />
                            </figure>
                        </section>
                    </div>

                    <div class="tab-contents__area">
                        <!-- Specification -->
                        <section class="product-section">
                            <h2 class="product-section__title">Specification</h2>

                            <div class="product-table">
                                <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                                    <colgroup><col width="149">
                                        <col width="41" span="12">
                                    </colgroup><tbody><tr>
                                    <td width="241" bgcolor="#EFEFEF">Item</td>
                                    <td colspan="3" bgcolor="#EFEFEF">ALC150D</td>
                                    <td colspan="3" bgcolor="#EFEFEF">ALC200D</td>
                                    <td colspan="3" bgcolor="#EFEFEF">ALC250D</td>
                                    <td width="147" colspan="3" bgcolor="#EFEFEF">ALC300D</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">Operating Type</td>
                                    <td colspan="12">Linear Type(Double Acting)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">Operating    Media</td>
                                    <td colspan="12">Compressed Dry Air</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">Operating    Pressure</td>
                                    <td colspan="12">4 ~ 7kg/cm2</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">Oprating Range</td>
                                    <td colspan="12">Depending On The Valve</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">Operating    Temperature</td>
                                    <td colspan="12">-20°C ~ 80°C(Option :    -40°C ~ 200°C)</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </section>

                        <!-- Part and Material -->
                        <section class="product-section">
                            <h2 class="product-section__title title02">Part and Material</h2>

                            <figure class="product-figure">
                                <img src="/assets/img/products/products04/alcd/ALCD-DWG.gif" />
                            </figure>

                            <div class="product-table">
                                <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                                    <colgroup><col width="29">
                                        <col width="141">
                                        <col width="157">
                                        <col width="29">
                                        <col width="141">
                                        <col width="157">
                                    </colgroup><tbody><tr>
                                    <td width="30" bgcolor="#EFEFEF">No.</td>
                                    <td width="163" bgcolor="#EFEFEF">Part Name</td>
                                    <td width="172" bgcolor="#EFEFEF">Materials</td>
                                    <td width="30" bgcolor="#EFEFEF">No.</td>
                                    <td width="161" bgcolor="#EFEFEF">Part Name</td>
                                    <td width="180" bgcolor="#EFEFEF">Materials</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">1</td>
                                    <td>Cylinder</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">12</td>
                                    <td>Cylinder Guide Nut</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">2</td>
                                    <td>Piston</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">13</td>
                                    <td>Cylinder Guide Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">3</td>
                                    <td>Piston Guide Ring</td>
                                    <td>Engineering Plastic</td>
                                    <td bgcolor="#F7F7F7">14</td>
                                    <td>Cylinder Guide Nut</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">4</td>
                                    <td>Piston O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">15</td>
                                    <td>Piston Rod</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">5</td>
                                    <td>Cylinder    Cover(Bottom)</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">16</td>
                                    <td>Piston Fixing Bolt</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">6</td>
                                    <td>Cylinder Cover O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">17</td>
                                    <td>Bracket</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">7</td>
                                    <td>Piston Rod O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">18</td>
                                    <td>Bracket Bolt</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">8</td>
                                    <td>Cylinder Cover(Top)</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">19</td>
                                    <td>Bracket Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">9</td>
                                    <td>Cylinder Cover O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">20</td>
                                    <td>Stopper Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">10</td>
                                    <td>Cylinder Guide Bolt</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">21</td>
                                    <td>Stopper Nut</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">11</td>
                                    <td>Cylinder Guide Washer</td>
                                    <td>Stainless Steel</td>
                                    <td bgcolor="#F7F7F7">22</td>
                                    <td>Stopper Bolt</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </section>

                    </div>

                </div>

                <!-- ALCS 타입 -->
                <div id="alcsSeries" class="product-tab-contents tab-pane">
                    <!-- todo: 내용 추가 필요 -->
                    <div class="tab-contents__title">
                        <p class="product-sub-title">
                            <span class="product-ctg">공압 구동기</span>
                            <span class="product-arrow"></span>
                            <span class="product-type">리니어 타입</span>
                        </p>
                        <!-- 상단 이미지 -->
                        <section class="product-section">
                            <figure class="product-figure full">
                                <img src="/assets/img/products/products04/alcs/ALCS.gif" />
                            </figure>
                        </section>
                    </div>

                    <div class="tab-contents__area">
                        <!-- Specification -->
                        <section class="product-section">
                            <h2 class="product-section__title">Specification</h2>

                            <div class="product-table">
                                <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                                    <colgroup><col width="149">
                                        <col width="41" span="12">
                                    </colgroup><tbody><tr>
                                    <td width="246" bgcolor="#EFEFEF">Item</td>
                                    <td colspan="3" bgcolor="#F7F7F7">ALC150S</td>
                                    <td colspan="3" bgcolor="#F7F7F7">ALC200S</td>
                                    <td colspan="3" bgcolor="#F7F7F7">ALC250S</td>
                                    <td width="139" colspan="3" bgcolor="#F7F7F7">ALC300S</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EFEFEF">Operating Type</td>
                                    <td colspan="12">Linear Type(Single Acting)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EFEFEF">Operating    Media</td>
                                    <td colspan="12">Compressed Dry Air</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EFEFEF">Operating    Pressure</td>
                                    <td colspan="12">4.5 ~ 7kg/cm2</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EFEFEF">Oprating Range</td>
                                    <td colspan="12">Depending On The Valve</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EFEFEF">Operating    Temperature</td>
                                    <td colspan="12">-20°C ~ 80°C(Option :    -40°C ~ 200°C)</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </section>

                        <!-- Part and Material -->
                        <section class="product-section">
                            <h2 class="product-section__title title02">Part and Material</h2>

                            <figure class="product-figure">
                                <img src="/assets/img/products/products01/as/ad-dwg.gif" />
                            </figure>

                            <div class="product-table">
                                <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                                    <colgroup><col width="29">
                                        <col width="141">
                                        <col width="157">
                                        <col width="29">
                                        <col width="141">
                                        <col width="157">
                                    </colgroup><tbody><tr>
                                    <td bgcolor="#EFEFEF">No.</td>
                                    <td bgcolor="#EFEFEF">Part Name</td>
                                    <td bgcolor="#EFEFEF">Materials</td>
                                    <td bgcolor="#EFEFEF">No.</td>
                                    <td bgcolor="#EFEFEF">Part Name</td>
                                    <td bgcolor="#EFEFEF">Materials</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">1</td>
                                    <td>Cylinder</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">13</td>
                                    <td>Cylinder Guide Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">2</td>
                                    <td>Piston</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">14</td>
                                    <td>Cylinder Guide Nut</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">3</td>
                                    <td>Piston Guide Ring</td>
                                    <td>Engineering Plastic</td>
                                    <td bgcolor="#F7F7F7">15</td>
                                    <td>Piston Rod</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">4</td>
                                    <td>Piston O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">16</td>
                                    <td>Piston Fixing Bolt</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">5</td>
                                    <td>Cylinder    Cover(Bottom)</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">17</td>
                                    <td>Bracket</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">6</td>
                                    <td>Cylinder Cover O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">18</td>
                                    <td>Bracket Bolt</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">7</td>
                                    <td>Piston Rod O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">19</td>
                                    <td>Bracket Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">8</td>
                                    <td>Cylinder Cover(Top)</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">20</td>
                                    <td>Stopper Washer</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">9</td>
                                    <td>Cylinder Cover O-Ring</td>
                                    <td>NBR</td>
                                    <td bgcolor="#F7F7F7">21</td>
                                    <td>Stopper Nut</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">10</td>
                                    <td>Cylinder Guide Bolt</td>
                                    <td>Steel Alloy</td>
                                    <td bgcolor="#F7F7F7">22</td>
                                    <td>Stopper Bolt</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">11</td>
                                    <td>Cylinder Guide Washer</td>
                                    <td>Stainless Steel</td>
                                    <td bgcolor="#F7F7F7">23</td>
                                    <td>Spring</td>
                                    <td>Steel Alloy</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F7F7F7">12</td>
                                    <td>Cylinder Guide Nut</td>
                                    <td>Stainless Steel</td>
                                    <td bgcolor="#F7F7F7">　</td>
                                    <td>　</td>
                                    <td>　</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>


        </div>
    </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
