<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">플라스틱 플랜지 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products208/PFB.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td align="center" bgcolor="#FFFFFF">15A(1/2") ~ 150A(6")</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td align="center" bgcolor="#FFFFFF">AD50 ~ AD125</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td align="center" bgcolor="#FFFFFF">Pneumatic Double Acting(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td align="center" bgcolor="#FFFFFF">-10℃ ~ 140℃</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Material</td>
                              <td align="center" bgcolor="#FFFFFF">PVC, PP, PPG, C-PVC, PVDF</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td align="center" bgcolor="#FFFFFF">Solenoid Valve,  Limit Switch Box, Air filter Regulator, E/P Positioner</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products208/PFB-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">mm</td>
                              <td align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-15F</td>
                              <td align="center" bgcolor="#FFFFFF">15A</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">168</td>
                              <td align="center" bgcolor="#FFFFFF">145</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-20F</td>
                              <td align="center" bgcolor="#FFFFFF">20A</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">177</td>
                              <td align="center" bgcolor="#FFFFFF">150</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-25F</td>
                              <td align="center" bgcolor="#FFFFFF">25A</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">190</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-30F</td>
                              <td align="center" bgcolor="#FFFFFF">30A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">200</td>
                              <td align="center" bgcolor="#FFFFFF">175</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-40F</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">212</td>
                              <td align="center" bgcolor="#FFFFFF">190</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-50F</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">210</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-65F</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">247</td>
                              <td align="center" bgcolor="#FFFFFF">260</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-80F</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">276</td>
                              <td align="center" bgcolor="#FFFFFF">265</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-100F</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">301</td>
                              <td align="center" bgcolor="#FFFFFF">300</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD100-125F</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">311</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">358</td>
                              <td align="center" bgcolor="#FFFFFF">360</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD125-150F</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">390</td>
                              <td align="center" bgcolor="#FFFFFF">151</td>
                              <td align="center" bgcolor="#FFFFFF">414</td>
                              <td align="center" bgcolor="#FFFFFF">360</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
