<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>

            <!-- 중카테고리 / 제품 타입 -->
            <div>
               <div class="product-tab">
                  <ul class="nav">
                     <li class="product__item active">
                        <a class="tab-btn" data-toggle="tab" href="#doubleType">Double Type</a>
                     </li>
                     <li class="product__item">
                        <a class="tab-btn" data-toggle="tab" href="#singleType">Single Type</a>
                     </li>
                  </ul>
               </div>
            </div>

         </section>
         <div class="tab-content">
            <!-- Double 타입 -->
            <div id="doubleType" class="product-tab-contents tab-pane fade show active">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">버터 플라이 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products206/double/BT-DB.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="171" height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">40A(1.1/2") ~ 1000A(40")</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AD50 ~ AD200</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Pneumatic Double Acting(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">-10℃ ~ 200℃</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(A216 CL B, A216 WCB, A351 CF8)&nbsp;/ Disc(A351 CF8, CF8M) / Seat(EPDM,VITON)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Solenoid Valve, Limit Switch Box, Air filter Regulator,&nbsp; E/P Positioner</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products206/double/BT-DB-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="198" rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td width="76" rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td width="72" rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td width="67" rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td width="77" rowspan="2" align="center" bgcolor="#EFEFEF">H1</td>
                              <td width="66" rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                           </tr>
                           <tr>
                              <td width="78" align="center" bgcolor="#EFEFEF">mm</td>
                              <td width="89" align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-40BF</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">215</td>
                              <td align="center" bgcolor="#FFFFFF">58</td>
                              <td align="center" bgcolor="#FFFFFF">41</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-50BF</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">217</td>
                              <td align="center" bgcolor="#FFFFFF">65</td>
                              <td align="center" bgcolor="#FFFFFF">43</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-65BF</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">71</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-80BF</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">256</td>
                              <td align="center" bgcolor="#FFFFFF">83</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-100BF</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">270</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">52</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-125BF</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">300</td>
                              <td align="center" bgcolor="#FFFFFF">110</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD80-150BF</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">262</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">314</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD100-200BF</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">311</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">390</td>
                              <td align="center" bgcolor="#FFFFFF">163</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD100-250BF</td>
                              <td align="center" bgcolor="#FFFFFF">250A</td>
                              <td align="center" bgcolor="#FFFFFF">10"</td>
                              <td align="center" bgcolor="#FFFFFF">311</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">428</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">68</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD125-300BF</td>
                              <td align="center" bgcolor="#FFFFFF">300A</td>
                              <td align="center" bgcolor="#FFFFFF">12"</td>
                              <td align="center" bgcolor="#FFFFFF">390</td>
                              <td align="center" bgcolor="#FFFFFF">151</td>
                              <td align="center" bgcolor="#FFFFFF">482</td>
                              <td align="center" bgcolor="#FFFFFF">252</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD140-350BF</td>
                              <td align="center" bgcolor="#FFFFFF">350A</td>
                              <td align="center" bgcolor="#FFFFFF">14"</td>
                              <td align="center" bgcolor="#FFFFFF">431</td>
                              <td align="center" bgcolor="#FFFFFF">164</td>
                              <td align="center" bgcolor="#FFFFFF">510</td>
                              <td align="center" bgcolor="#FFFFFF">272</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD160-400BF</td>
                              <td align="center" bgcolor="#FFFFFF">400A</td>
                              <td align="center" bgcolor="#FFFFFF">16"</td>
                              <td align="center" bgcolor="#FFFFFF">506</td>
                              <td align="center" bgcolor="#FFFFFF">189</td>
                              <td align="center" bgcolor="#FFFFFF">585</td>
                              <td align="center" bgcolor="#FFFFFF">343</td>
                              <td align="center" bgcolor="#FFFFFF">102</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD160-450BF</td>
                              <td align="center" bgcolor="#FFFFFF">450A</td>
                              <td align="center" bgcolor="#FFFFFF">18"</td>
                              <td align="center" bgcolor="#FFFFFF">506</td>
                              <td align="center" bgcolor="#FFFFFF">189</td>
                              <td align="center" bgcolor="#FFFFFF">625</td>
                              <td align="center" bgcolor="#FFFFFF">366</td>
                              <td align="center" bgcolor="#FFFFFF">114</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD200-500BF</td>
                              <td align="center" bgcolor="#FFFFFF">500A</td>
                              <td align="center" bgcolor="#FFFFFF">20"</td>
                              <td align="center" bgcolor="#FFFFFF">605</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">783</td>
                              <td align="center" bgcolor="#FFFFFF">421</td>
                              <td align="center" bgcolor="#FFFFFF">127</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD200-600BF</td>
                              <td align="center" bgcolor="#FFFFFF">600A</td>
                              <td align="center" bgcolor="#FFFFFF">24"</td>
                              <td align="center" bgcolor="#FFFFFF">605</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">870</td>
                              <td align="center" bgcolor="#FFFFFF">493</td>
                              <td align="center" bgcolor="#FFFFFF">154</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

            <!-- Single 타입 -->
            <div id="singleType" class="product-tab-contents tab-pane">
               <!-- todo: 내용 추가 필요 -->
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                        <span class="product-type">버터 플라이 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products206/single/BT-SG.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="171" height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">40A(1/2") ~ 1000A(40")</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AS50 ~ AS200</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Pneumatic Single Acting / Spring Return&nbsp;(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">-10℃ ~ 200℃</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(A126 CL B, A216 WCB, A351 CF8) / Disc(A351 CF8, 8M) / Seat(EPDM, VITON)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Solenoid Valve, Limit Switch Box, Air filter Regulator, E/P Positioner</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products206/single/BT-SG-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">mm</td>
                              <td align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS50-40BF</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">257</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">215</td>
                              <td align="center" bgcolor="#FFFFFF">58</td>
                              <td align="center" bgcolor="#FFFFFF">41</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS50-50BF</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">257</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">217</td>
                              <td align="center" bgcolor="#FFFFFF">65</td>
                              <td align="center" bgcolor="#FFFFFF">43</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS65-65BF</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">314</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">250</td>
                              <td align="center" bgcolor="#FFFFFF">71</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS65-80BF</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">314</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">256</td>
                              <td align="center" bgcolor="#FFFFFF">83</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS80-100BF</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">430</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">287</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">52</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS80-125BF</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">430</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">300</td>
                              <td align="center" bgcolor="#FFFFFF">110</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS100-150BF</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">500</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">334</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS100-200BF</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">500</td>
                              <td align="center" bgcolor="#FFFFFF">129</td>
                              <td align="center" bgcolor="#FFFFFF">390</td>
                              <td align="center" bgcolor="#FFFFFF">163</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS125-250BF</td>
                              <td align="center" bgcolor="#FFFFFF">250A</td>
                              <td align="center" bgcolor="#FFFFFF">10"</td>
                              <td align="center" bgcolor="#FFFFFF">606</td>
                              <td align="center" bgcolor="#FFFFFF">151</td>
                              <td align="center" bgcolor="#FFFFFF">455</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">68</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS140-300BF</td>
                              <td align="center" bgcolor="#FFFFFF">300A</td>
                              <td align="center" bgcolor="#FFFFFF">12"</td>
                              <td align="center" bgcolor="#FFFFFF">682</td>
                              <td align="center" bgcolor="#FFFFFF">164</td>
                              <td align="center" bgcolor="#FFFFFF">500</td>
                              <td align="center" bgcolor="#FFFFFF">252</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS160-350BF</td>
                              <td align="center" bgcolor="#FFFFFF">350A</td>
                              <td align="center" bgcolor="#FFFFFF">14"</td>
                              <td align="center" bgcolor="#FFFFFF">781</td>
                              <td align="center" bgcolor="#FFFFFF">189</td>
                              <td align="center" bgcolor="#FFFFFF">544</td>
                              <td align="center" bgcolor="#FFFFFF">272</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS160-400BF</td>
                              <td align="center" bgcolor="#FFFFFF">400A</td>
                              <td align="center" bgcolor="#FFFFFF">16"</td>
                              <td align="center" bgcolor="#FFFFFF">781</td>
                              <td align="center" bgcolor="#FFFFFF">189</td>
                              <td align="center" bgcolor="#FFFFFF">585</td>
                              <td align="center" bgcolor="#FFFFFF">343</td>
                              <td align="center" bgcolor="#FFFFFF">102</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS200-450BF</td>
                              <td align="center" bgcolor="#FFFFFF">450A</td>
                              <td align="center" bgcolor="#FFFFFF">18"</td>
                              <td align="center" bgcolor="#FFFFFF">982</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">704</td>
                              <td align="center" bgcolor="#FFFFFF">366</td>
                              <td align="center" bgcolor="#FFFFFF">114</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AS200-500BF</td>
                              <td align="center" bgcolor="#FFFFFF">500A</td>
                              <td align="center" bgcolor="#FFFFFF">20"</td>
                              <td align="center" bgcolor="#FFFFFF">982</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">780</td>
                              <td align="center" bgcolor="#FFFFFF">421</td>
                              <td align="center" bgcolor="#FFFFFF">127</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>
            </div>
         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
