<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
   "pages": "",
   "nav": "accessories"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">악세사리</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">악세사리</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">수동 기어 박스</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section ">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products705/1.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="300" bgcolor="#EFEFEF">&nbsp;&nbsp;Model No.</td>
                              <td align="center" bgcolor="#F7F7F7">ADG050</td>
                              <td align="center" bgcolor="#F7F7F7">ADG070</td>
                              <td align="center" bgcolor="#F7F7F7">ADG140</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Max. Output Torque</td>
                              <td align="center" bgcolor="#FFFFFF">300Nm</td>
                              <td align="center" bgcolor="#FFFFFF">360Nm</td>
                              <td align="center" bgcolor="#FFFFFF">1310Nm</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Pneumatic Actuator Mounting Flange(ISO 5211)</td>
                              <td align="center" bgcolor="#FFFFFF">F05 / F07</td>
                              <td align="center" bgcolor="#FFFFFF">F07 / F10</td>
                              <td align="center" bgcolor="#FFFFFF">F10 / F12</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Valve Mounting Flange(ISO 5211)</td>
                              <td align="center" bgcolor="#FFFFFF">F05 / F07</td>
                              <td align="center" bgcolor="#FFFFFF">F07 / F10</td>
                              <td align="center" bgcolor="#FFFFFF">F10 / F12</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Reduction Ration</td>
                              <td align="center" bgcolor="#FFFFFF">40 : 1</td>
                              <td align="center" bgcolor="#FFFFFF">38 : 1</td>
                              <td align="center" bgcolor="#FFFFFF">50 : 1</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Number Of Turns 90˚</td>
                              <td align="center" bgcolor="#FFFFFF">10 TURN</td>
                              <td align="center" bgcolor="#FFFFFF">9.5 TURN</td>
                              <td align="center" bgcolor="#FFFFFF">12.5 TURN</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Handwheel Diameter</td>
                              <td align="center" bgcolor="#FFFFFF">Ø200</td>
                              <td align="center" bgcolor="#FFFFFF">Ø200</td>
                              <td align="center" bgcolor="#FFFFFF">Ø400</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Weight</td>
                              <td align="center" bgcolor="#FFFFFF">2.7kg</td>
                              <td align="center" bgcolor="#FFFFFF">4.3kg</td>
                              <td align="center" bgcolor="#FFFFFF">13.5kg</td>
                           </tr>
                           <tr>
                              <td bgcolor="#EFEFEF">&nbsp;&nbsp;Application For Pneumatic Actuator</td>
                              <td align="center" bgcolor="#FFFFFF">AS50/65<br>
                                 AD50/65/80</td>
                              <td align="center" bgcolor="#FFFFFF">AS80/100<br>
                                 AD100/125</td>
                              <td align="center" bgcolor="#FFFFFF">AS125<br>
                                 AD140/160</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products705/2.jpg" />
                     </figure>
                  </section>
                  <!-- ADG Series Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title">ADG Series Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">(mm)</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model / DIM.</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">B</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">C</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">ØD</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">E</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">F</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">G</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Pneumatic Actuator</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Valve Mounting</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">BCD1/2</td>
                              <td align="center" bgcolor="#EFEFEF">4-ØD1/2</td>
                              <td align="center" bgcolor="#EFEFEF">BCD3/4</td>
                              <td align="center" bgcolor="#EFEFEF">4-M1/2</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ADG050</td>
                              <td align="center" bgcolor="#FFFFFF">70</td>
                              <td align="center" bgcolor="#FFFFFF">125</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">200</td>
                              <td align="center" bgcolor="#FFFFFF">143</td>
                              <td align="center" bgcolor="#FFFFFF">90</td>
                              <td align="center" bgcolor="#FFFFFF">14 x 14</td>
                              <td align="center" bgcolor="#FFFFFF">17 x 17</td>
                              <td align="center" bgcolor="#FFFFFF">Ø50/70</td>
                              <td align="center" bgcolor="#FFFFFF">4-Ø6.5/8.5</td>
                              <td align="center" bgcolor="#FFFFFF">Ø50/70</td>
                              <td align="center" bgcolor="#FFFFFF">4-M6/M8</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ADG070</td>
                              <td align="center" bgcolor="#FFFFFF">95</td>
                              <td align="center" bgcolor="#FFFFFF">150</td>
                              <td align="center" bgcolor="#FFFFFF">118</td>
                              <td align="center" bgcolor="#FFFFFF">200</td>
                              <td align="center" bgcolor="#FFFFFF">177</td>
                              <td align="center" bgcolor="#FFFFFF">125</td>
                              <td align="center" bgcolor="#FFFFFF">17 x 17</td>
                              <td align="center" bgcolor="#FFFFFF">17 x 17</td>
                              <td align="center" bgcolor="#FFFFFF">Ø70/102</td>
                              <td align="center" bgcolor="#FFFFFF">4-Ø8.5/10.5</td>
                              <td align="center" bgcolor="#FFFFFF">Ø70/102</td>
                              <td align="center" bgcolor="#FFFFFF">4-M8/M10</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ADG140</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">400</td>
                              <td align="center" bgcolor="#FFFFFF">325</td>
                              <td align="center" bgcolor="#FFFFFF">185</td>
                              <td align="center" bgcolor="#FFFFFF">22 x 22</td>
                              <td align="center" bgcolor="#FFFFFF">27 x 27</td>
                              <td align="center" bgcolor="#FFFFFF">Ø102/125</td>
                              <td align="center" bgcolor="#FFFFFF">4-Ø11/14</td>
                              <td align="center" bgcolor="#FFFFFF">Ø102/125</td>
                              <td align="center" bgcolor="#FFFFFF">4-M10/M12</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>

               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
