<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "accessories"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">악세사리</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">악세사리</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">솔레노이드 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section ">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products702/1.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="170" align="center" bgcolor="#EFEFEF">Model</td>
                              <td align="center" bgcolor="#F7F7F7">ANS (Single Coil)</td>
                              <td align="center" bgcolor="#F7F7F7">ANS-D (Double Coil)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Fluid</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Air &amp; Inert Gas</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Pressure (Bar)</td>
                              <td align="center" bgcolor="#FFFFFF">1.5 ~ 10.0</td>
                              <td align="center" bgcolor="#FFFFFF">2.0 ~ 10.0</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Ambient Temperature</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">5℃ ~ 60℃</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Response Time (at 5 Bar)</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">30ms below</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Lubrication</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Not required</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rated Voltage</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AC110V, 220V (50/60Hz), DC24V</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Coil Insulation</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">±10%</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products702/2.jpg" />
                     </figure>
                  </section>
                  <div class="product-section">
                     <figure class="product-figure">
                        <img src="/assets/img/products/products702/3.jpg" />
                     </figure>
                  </div>
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="311" align="center" bgcolor="#EFEFEF">Model</td>
                              <td width="454" align="center" bgcolor="#FFFFFF">ESV</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Air Pressure</td>
                              <td align="center" bgcolor="#FFFFFF">1.5 ~ 10kgf/㎠</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Air Supply (Max.)</td>
                              <td align="center" bgcolor="#FFFFFF">15 kgf/㎠</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Voltage : Current</td>
                              <td align="center" bgcolor="#FFFFFF">AC 110V : 55mA<br>
                                 AC 220V : 17mA<br>
                              </td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Voltage Tolerance</td>
                              <td align="center" bgcolor="#FFFFFF">DC 24V : 138mA</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Frequency</td>
                              <td align="center" bgcolor="#FFFFFF">±10%</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Explosion Proof Class</td>
                              <td align="center" bgcolor="#FFFFFF">50Hz / 60Hz<br>Exd IIC T6</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Ambient Temperature</td>
                              <td align="center" bgcolor="#FFFFFF">-20℃ - +60℃</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Flow Capacity (Cv)</td>
                              <td align="center" bgcolor="#FFFFFF">0.9</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Mounting Configuration</td>
                              <td align="center" bgcolor="#FFFFFF">NAMUR or screw interface</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Pneumatic Connections</td>
                              <td align="center" bgcolor="#FFFFFF">PT 1/4 or NPT 1/4</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Electrical Connection</td>
                              <td align="center" bgcolor="#FFFFFF">PF 1/2 or NPT 1/2</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Coil Insulation Grade</td>
                              <td align="center" bgcolor="#FFFFFF">Class F</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Duty Cycle</td>
                              <td align="center" bgcolor="#FFFFFF">100%</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF"><p>Weight</p></td>
                              <td align="center" bgcolor="#FFFFFF">0.9kg</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Silencers</td>
                              <td align="center" bgcolor="#FFFFFF">2 pcs included as standard</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
                  <!-- Mounting -->
                  <section class="product-section">
                     <h2 class="product-section__title">Mounting</h2>

                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products702/4.jpg" />
                     </figure>
                  </section>
                  <!-- Rotatable Valve Head -->
                  <section class="product-section">
                     <h2 class="product-section__title">Rotatable Valve Head</h2>

                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products702/6.jpg" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <section class="product-section">
                        <figure class="product-figure full">
                           <img src="/assets/img/products/products702/5.jpg" />
                        </figure>
                     </section>
                  </section>

               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
