<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">나이프 게이트 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products213/KGV.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td align="center" bgcolor="#FFFFFF">50A ~ 500A</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td align="center" bgcolor="#FFFFFF">AKGV Series</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td align="center" bgcolor="#FFFFFF">Pneumaitc Double Action Cylinder / Spring Return(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td align="center" bgcolor="#FFFFFF"><p>-40℃ ~ 120℃</p></td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI 150#</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td align="center" bgcolor="#FFFFFF">Body(A351 CF8, 8M) / Disc(A182 F304,316) / Packing(Asbestos + Teflon)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td align="center" bgcolor="#FFFFFF">Solenoid Valve, Limit Switch, Air Filter &amp; Regulator, Speed Controller, E/P Positioner, Manual Handle</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products213/KGV-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="229" rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td width="95" rowspan="2" align="center" bgcolor="#EFEFEF">H1</td>
                              <td width="133" rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx.)</td>
                              <td width="96" rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                           </tr>
                           <tr>
                              <td width="102" align="center" bgcolor="#EFEFEF">mm</td>
                              <td width="82" align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-50A</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">523</td>
                              <td align="center" bgcolor="#FFFFFF">48</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-65A</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">109</td>
                              <td align="center" bgcolor="#FFFFFF">447</td>
                              <td align="center" bgcolor="#FFFFFF">51</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-80A</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">102</td>
                              <td align="center" bgcolor="#FFFFFF">568</td>
                              <td align="center" bgcolor="#FFFFFF">51</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-100A</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">145</td>
                              <td align="center" bgcolor="#FFFFFF">644</td>
                              <td align="center" bgcolor="#FFFFFF">51</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-125A</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">169</td>
                              <td align="center" bgcolor="#FFFFFF">571</td>
                              <td align="center" bgcolor="#FFFFFF">57</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-150A</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">180</td>
                              <td align="center" bgcolor="#FFFFFF">750</td>
                              <td align="center" bgcolor="#FFFFFF">57</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-200A</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">219</td>
                              <td align="center" bgcolor="#FFFFFF">923</td>
                              <td align="center" bgcolor="#FFFFFF">70</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-250A</td>
                              <td align="center" bgcolor="#FFFFFF">250A</td>
                              <td align="center" bgcolor="#FFFFFF">10"</td>
                              <td align="center" bgcolor="#FFFFFF">276</td>
                              <td align="center" bgcolor="#FFFFFF">1132</td>
                              <td align="center" bgcolor="#FFFFFF">70</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-300A</td>
                              <td align="center" bgcolor="#FFFFFF">300A</td>
                              <td align="center" bgcolor="#FFFFFF">12"</td>
                              <td align="center" bgcolor="#FFFFFF">314</td>
                              <td align="center" bgcolor="#FFFFFF">1303</td>
                              <td align="center" bgcolor="#FFFFFF">76</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-350A</td>
                              <td align="center" bgcolor="#FFFFFF">350A</td>
                              <td align="center" bgcolor="#FFFFFF">14"</td>
                              <td align="center" bgcolor="#FFFFFF">340</td>
                              <td align="center" bgcolor="#FFFFFF">1430</td>
                              <td align="center" bgcolor="#FFFFFF">76</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-400A</td>
                              <td align="center" bgcolor="#FFFFFF">400A</td>
                              <td align="center" bgcolor="#FFFFFF">16"</td>
                              <td align="center" bgcolor="#FFFFFF">400</td>
                              <td align="center" bgcolor="#FFFFFF">1633</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-450A</td>
                              <td align="center" bgcolor="#FFFFFF">450A</td>
                              <td align="center" bgcolor="#FFFFFF">18"</td>
                              <td align="center" bgcolor="#FFFFFF">453</td>
                              <td align="center" bgcolor="#FFFFFF">1809</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AKGV-500A</td>
                              <td align="center" bgcolor="#FFFFFF">500A</td>
                              <td align="center" bgcolor="#FFFFFF">20"</td>
                              <td align="center" bgcolor="#FFFFFF">495</td>
                              <td align="center" bgcolor="#FFFFFF">1965</td>
                              <td align="center" bgcolor="#FFFFFF">114</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
