<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "transmission-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">전동제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">전동 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">버터 플라이 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products404/1.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="163" height="22" align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">40A ~ 1000A</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">ATM0040 ~ ATM3000</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Electric</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Electrical</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">AC110V 220V, AC380V 440V</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Operating Type</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">ON/OFF, MODULATING (Except for ATM0040)</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Fluid Temp</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">-20℃ ~ ±70℃</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">ANSI150#</td>
                           </tr>
                           <tr>
                              <td height="22" align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td colspan="2" align="center" bgcolor="#FFFFFF">Body(A216 WCB, A351 CF8) / Disc(A351 CF8, CF8M) / Seat(EPDM, VITON)</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products404/2.jpg" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" rowspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Actuator</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (APPROX.)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H2</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">&nbsp;L</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">A</td>
                              <td align="center" bgcolor="#EFEFEF">A1</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-40BF</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">263</td>
                              <td align="center" bgcolor="#FFFFFF">58</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">41</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-50BF</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">270</td>
                              <td align="center" bgcolor="#FFFFFF">65</td>
                              <td align="center" bgcolor="#FFFFFF">-</td>
                              <td align="center" bgcolor="#FFFFFF">43</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-65BF</td>
                              <td align="center" bgcolor="#FFFFFF">65A</td>
                              <td align="center" bgcolor="#FFFFFF">2-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">268</td>
                              <td align="center" bgcolor="#FFFFFF">71</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-80BF</td>
                              <td align="center" bgcolor="#FFFFFF">80A</td>
                              <td align="center" bgcolor="#FFFFFF">3"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">278</td>
                              <td align="center" bgcolor="#FFFFFF">83</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">46</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-100BF</td>
                              <td align="center" bgcolor="#FFFFFF">100A</td>
                              <td align="center" bgcolor="#FFFFFF">4"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">291</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">40</td>
                              <td align="center" bgcolor="#FFFFFF">52</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0100-125BF</td>
                              <td align="center" bgcolor="#FFFFFF">125A</td>
                              <td align="center" bgcolor="#FFFFFF">5"</td>
                              <td align="center" bgcolor="#FFFFFF">258</td>
                              <td align="center" bgcolor="#FFFFFF">172</td>
                              <td align="center" bgcolor="#FFFFFF">433</td>
                              <td align="center" bgcolor="#FFFFFF">110</td>
                              <td align="center" bgcolor="#FFFFFF">125</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0160-150BF</td>
                              <td align="center" bgcolor="#FFFFFF">150A</td>
                              <td align="center" bgcolor="#FFFFFF">6"</td>
                              <td align="center" bgcolor="#FFFFFF">338</td>
                              <td align="center" bgcolor="#FFFFFF">229</td>
                              <td align="center" bgcolor="#FFFFFF">489</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0240-200BF</td>
                              <td align="center" bgcolor="#FFFFFF">200A</td>
                              <td align="center" bgcolor="#FFFFFF">8"</td>
                              <td align="center" bgcolor="#FFFFFF">338</td>
                              <td align="center" bgcolor="#FFFFFF">229</td>
                              <td align="center" bgcolor="#FFFFFF">552</td>
                              <td align="center" bgcolor="#FFFFFF">163</td>
                              <td align="center" bgcolor="#FFFFFF">140</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0350-250BF</td>
                              <td align="center" bgcolor="#FFFFFF">250A</td>
                              <td align="center" bgcolor="#FFFFFF">10"</td>
                              <td align="center" bgcolor="#FFFFFF">357</td>
                              <td align="center" bgcolor="#FFFFFF">244</td>
                              <td align="center" bgcolor="#FFFFFF">608</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">68</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0500-300BF</td>
                              <td align="center" bgcolor="#FFFFFF">300A</td>
                              <td align="center" bgcolor="#FFFFFF">12"</td>
                              <td align="center" bgcolor="#FFFFFF">357</td>
                              <td align="center" bgcolor="#FFFFFF">244</td>
                              <td align="center" bgcolor="#FFFFFF">660</td>
                              <td align="center" bgcolor="#FFFFFF">252</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0800-350BF</td>
                              <td align="center" bgcolor="#FFFFFF">350A</td>
                              <td align="center" bgcolor="#FFFFFF">14"</td>
                              <td align="center" bgcolor="#FFFFFF">380</td>
                              <td align="center" bgcolor="#FFFFFF">287</td>
                              <td align="center" bgcolor="#FFFFFF">669</td>
                              <td align="center" bgcolor="#FFFFFF">272</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">78</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM1100-400BF</td>
                              <td align="center" bgcolor="#FFFFFF">400A</td>
                              <td align="center" bgcolor="#FFFFFF">16"</td>
                              <td align="center" bgcolor="#FFFFFF">380</td>
                              <td align="center" bgcolor="#FFFFFF">287</td>
                              <td align="center" bgcolor="#FFFFFF">713</td>
                              <td align="center" bgcolor="#FFFFFF">343</td>
                              <td align="center" bgcolor="#FFFFFF">170</td>
                              <td align="center" bgcolor="#FFFFFF">102</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM2000-450BF</td>
                              <td align="center" bgcolor="#FFFFFF">450A</td>
                              <td align="center" bgcolor="#FFFFFF">18"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">836</td>
                              <td align="center" bgcolor="#FFFFFF">366</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">114</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM2000-500BF</td>
                              <td align="center" bgcolor="#FFFFFF">500A</td>
                              <td align="center" bgcolor="#FFFFFF">20"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">900</td>
                              <td align="center" bgcolor="#FFFFFF">421</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">127</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM3000-600BF</td>
                              <td align="center" bgcolor="#FFFFFF">600A</td>
                              <td align="center" bgcolor="#FFFFFF">24"</td>
                              <td align="center" bgcolor="#FFFFFF">440</td>
                              <td align="center" bgcolor="#FFFFFF">375</td>
                              <td align="center" bgcolor="#FFFFFF">985</td>
                              <td align="center" bgcolor="#FFFFFF">493</td>
                              <td align="center" bgcolor="#FFFFFF">225</td>
                              <td align="center" bgcolor="#FFFFFF">154</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
