<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "",
  "nav": "pneumatic-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">공압제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">공압 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">스크류 3 way 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products204/3SC.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td align="center" bgcolor="#FFFFFF">8A(1/4") ~ 50A(2")</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td align="center" bgcolor="#FFFFFF">AD40 /AD50 /&nbsp;AD65</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td align="center" bgcolor="#FFFFFF">Pneumatic Double Acting(with Dry Air)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Pressure</td>
                              <td align="center" bgcolor="#FFFFFF">4 ~ 7kg/㎠</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Fluid Temperature</td>
                              <td align="center" bgcolor="#FFFFFF">-10℃ ~ 90℃</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">1000&nbsp;PSI</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Body Material</td>
                              <td align="center" bgcolor="#FFFFFF">Body(A351 CF8M) / Ball(A182 F304, 316) / Seat(PTTE)</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Accessory</td>
                              <td align="center" bgcolor="#FFFFFF">Solenoid Valve, Limit Switch Box, Air filter Regulator, E/P Positioner</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products204/3SC-DIM.gif" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">A1</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (Approx)</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">L/2</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Ød</td>
                              <td rowspan="2" align="center" bgcolor="#EFEFEF">Ød1</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">mm</td>
                              <td align="center" bgcolor="#EFEFEF">inch</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD40-8S3W</td>
                              <td align="center" bgcolor="#FFFFFF">8A</td>
                              <td align="center" bgcolor="#FFFFFF">1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">108</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">73</td>
                              <td align="center" bgcolor="#FFFFFF">36</td>
                              <td align="center" bgcolor="#FFFFFF">11</td>
                              <td align="center" bgcolor="#FFFFFF">1/4"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD40-10S3W</td>
                              <td align="center" bgcolor="#FFFFFF">10A</td>
                              <td align="center" bgcolor="#FFFFFF">3/8"</td>
                              <td align="center" bgcolor="#FFFFFF">108</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">73</td>
                              <td align="center" bgcolor="#FFFFFF">36</td>
                              <td align="center" bgcolor="#FFFFFF">11</td>
                              <td align="center" bgcolor="#FFFFFF">3/8"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD40-15S3W</td>
                              <td align="center" bgcolor="#FFFFFF">15A</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">108</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">73</td>
                              <td align="center" bgcolor="#FFFFFF">36</td>
                              <td align="center" bgcolor="#FFFFFF">12</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-20S3W</td>
                              <td align="center" bgcolor="#FFFFFF">20A</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">149</td>
                              <td align="center" bgcolor="#FFFFFF">85</td>
                              <td align="center" bgcolor="#FFFFFF">42</td>
                              <td align="center" bgcolor="#FFFFFF">15</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD50-25S3W</td>
                              <td align="center" bgcolor="#FFFFFF">25A</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                              <td align="center" bgcolor="#FFFFFF">162</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">157</td>
                              <td align="center" bgcolor="#FFFFFF">100</td>
                              <td align="center" bgcolor="#FFFFFF">50</td>
                              <td align="center" bgcolor="#FFFFFF">20</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-32S3W</td>
                              <td align="center" bgcolor="#FFFFFF">32A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">180</td>
                              <td align="center" bgcolor="#FFFFFF">113</td>
                              <td align="center" bgcolor="#FFFFFF">56</td>
                              <td align="center" bgcolor="#FFFFFF">25</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/4"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-40S3W</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">186</td>
                              <td align="center" bgcolor="#FFFFFF">127</td>
                              <td align="center" bgcolor="#FFFFFF">63</td>
                              <td align="center" bgcolor="#FFFFFF">32</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">AD65-50S3W</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">202</td>
                              <td align="center" bgcolor="#FFFFFF">89</td>
                              <td align="center" bgcolor="#FFFFFF">197</td>
                              <td align="center" bgcolor="#FFFFFF">150</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">38</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
