<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
<!-- Start: Preloader -->
@@include('./partial/preloader.html')
<!-- End: Preloader -->

<!-- Start: header -->
@@include('./partial/side-menu.html', {
  "pages": "", "nav": "transmission-product"
})
<!-- End: header -->

<main id="prd-sample">
   <article class="product-bg">

      <div class="product-contents">
         <section class="product-top-area">
            <!-- 제품 대카테고리 -->
            <header class="product-header">
               <i class="product-icon"></i>
               <h1 class="product-title">전동제품</h1>
            </header>
            <div class="product-bar"></div>
            <div class="product-circle"></div>
         </section>
         <div class="tab-content">
            <div id="doubleType" class="product-tab-contents">
               <div class="tab-contents__title">
                  <p class="product-sub-title">
                     <span class="product-ctg">전동 자동 밸브</span>
                     <span class="product-arrow"></span>
                     <span class="product-type">스크류 1PC 볼 밸브</span>
                  </p>
                  <!-- 상단 이미지 -->
                  <section class="product-section">
                     <figure class="product-figure full">
                        <img src="/assets/img/products/products401/1.jpg" />
                     </figure>
                  </section>
               </div>

               <div class="tab-contents__area">
                  <!-- Specification -->
                  <section class="product-section">
                     <h2 class="product-section__title">Specification</h2>

                     <div class="product-table">
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td align="center" bgcolor="#EFEFEF">Valve Size</td>
                              <td align="center" bgcolor="#FFFFFF">10A(3/8") ~ 50A(2")</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Model</td>
                              <td align="center" bgcolor="#FFFFFF">ATM0020 / ATM0040</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Actuator Type</td>
                              <td align="center" bgcolor="#FFFFFF">Electric</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Electrical</td>
                              <td align="center" bgcolor="#FFFFFF">AC110V, 220V, 380V</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Output Torque</td>
                              <td align="center" bgcolor="#FFFFFF">25Nm / 40Nm</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating time</td>
                              <td align="center" bgcolor="#FFFFFF">11/50Hz,&nbsp;14/50Hz</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Operating Type</td>
                              <td align="center" bgcolor="#FFFFFF">On-Off</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rotating Angle</td>
                              <td align="center" bgcolor="#FFFFFF">90˚ ±5˚</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Fluid Temp</td>
                              <td align="center" bgcolor="#FFFFFF">-20℃ ~ +70℃</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF">Rating</td>
                              <td align="center" bgcolor="#FFFFFF">1000&nbsp;PSI</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#EFEFEF"> Material</td>
                              <td align="center" bgcolor="#FFFFFF">Body(A351 CF8, 8M) / Ball(A182 F304, 316) / Seat(PTFE, RTFE, PEEK)</td>
                           </tr>
                           </tbody></table>
                     </div>
                     <figure class="product-figure mt-5">
                        <img src="/assets/img/products/products401/2.jpg" />
                     </figure>
                  </section>

                  <!-- Dimension -->
                  <section class="product-section">
                     <h2 class="product-section__title title04">Dimension</h2>

                     <div class="product-table">
                        <p class="table-info">Unit : mm</p>
                        <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table1">
                           <tbody><tr>
                              <td width="193" rowspan="2" align="center" bgcolor="#EFEFEF">Model</td>
                              <td colspan="2" align="center" bgcolor="#EFEFEF">Size</td>
                              <td height="26" colspan="2" align="center" bgcolor="#EFEFEF">Motor</td>
                              <td width="93" rowspan="2" align="center" bgcolor="#EFEFEF">H<br>
                                 (APPROX)</td>
                              <td width="74" rowspan="2" align="center" bgcolor="#EFEFEF">L</td>
                              <td width="84" rowspan="2" align="center" bgcolor="#EFEFEF">Ød</td>
                           </tr>
                           <tr>
                              <td width="56" align="center" bgcolor="#EFEFEF">mm</td>
                              <td width="80" align="center" bgcolor="#EFEFEF">Inch</td>
                              <td width="70" align="center" bgcolor="#EFEFEF">A</td>
                              <td width="73" align="center" bgcolor="#EFEFEF">A1</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0020-8S3</td>
                              <td align="center" bgcolor="#FFFFFF">8A</td>
                              <td align="center" bgcolor="#FFFFFF">1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">89.4</td>
                              <td align="center" bgcolor="#FFFFFF">109.7</td>
                              <td align="center" bgcolor="#FFFFFF">173.5</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                              <td align="center" bgcolor="#FFFFFF">10</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0020-10S3</td>
                              <td align="center" bgcolor="#FFFFFF">10A</td>
                              <td align="center" bgcolor="#FFFFFF">3/8"</td>
                              <td align="center" bgcolor="#FFFFFF">89.4</td>
                              <td align="center" bgcolor="#FFFFFF">109.7</td>
                              <td align="center" bgcolor="#FFFFFF">173.5</td>
                              <td align="center" bgcolor="#FFFFFF">60</td>
                              <td align="center" bgcolor="#FFFFFF">12.5</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0020-15S3</td>
                              <td align="center" bgcolor="#FFFFFF">15A</td>
                              <td align="center" bgcolor="#FFFFFF">1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">89.4</td>
                              <td align="center" bgcolor="#FFFFFF">109.7</td>
                              <td align="center" bgcolor="#FFFFFF">173.5</td>
                              <td align="center" bgcolor="#FFFFFF">65</td>
                              <td align="center" bgcolor="#FFFFFF">15</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0020-20S3</td>
                              <td align="center" bgcolor="#FFFFFF">20A</td>
                              <td align="center" bgcolor="#FFFFFF">3/4"</td>
                              <td align="center" bgcolor="#FFFFFF">89.4</td>
                              <td align="center" bgcolor="#FFFFFF">109.7</td>
                              <td align="center" bgcolor="#FFFFFF">173.5</td>
                              <td align="center" bgcolor="#FFFFFF">75</td>
                              <td align="center" bgcolor="#FFFFFF">20</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0020-25S3</td>
                              <td align="center" bgcolor="#FFFFFF">25A</td>
                              <td align="center" bgcolor="#FFFFFF">1"</td>
                              <td align="center" bgcolor="#FFFFFF">89.4</td>
                              <td align="center" bgcolor="#FFFFFF">109.7</td>
                              <td align="center" bgcolor="#FFFFFF">216</td>
                              <td align="center" bgcolor="#FFFFFF">85</td>
                              <td align="center" bgcolor="#FFFFFF">25</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-32S3</td>
                              <td align="center" bgcolor="#FFFFFF">32A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/4"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">227</td>
                              <td align="center" bgcolor="#FFFFFF">101</td>
                              <td align="center" bgcolor="#FFFFFF">32</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0040-40S3</td>
                              <td align="center" bgcolor="#FFFFFF">40A</td>
                              <td align="center" bgcolor="#FFFFFF">1-1/2"</td>
                              <td align="center" bgcolor="#FFFFFF">113.5</td>
                              <td align="center" bgcolor="#FFFFFF">121.8</td>
                              <td align="center" bgcolor="#FFFFFF">231</td>
                              <td align="center" bgcolor="#FFFFFF">110</td>
                              <td align="center" bgcolor="#FFFFFF">38</td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#F7F7F7">ATM0080-50S3</td>
                              <td align="center" bgcolor="#FFFFFF">50A</td>
                              <td align="center" bgcolor="#FFFFFF">2"</td>
                              <td align="center" bgcolor="#FFFFFF">160</td>
                              <td align="center" bgcolor="#FFFFFF">121</td>
                              <td align="center" bgcolor="#FFFFFF">218</td>
                              <td align="center" bgcolor="#FFFFFF">130</td>
                              <td align="center" bgcolor="#FFFFFF">50</td>
                           </tr>
                           </tbody></table>
                     </div>
                  </section>
               </div>

            </div>

         </div>


      </div>
   </article>
</main>

@@include('./partial/footer.html')
@@include('./partial/script.html')
</body>
</html>
