*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover {
  color: #111;
  text-decoration: none;
}

.list-style {
  margin-left: 0;
  padding-bottom: 0;
  list-style: none;
}

.tab-content {
  > .active {
    opacity: 1;
  }
}
