#login {
  position: relative;
  height: 100vh;
  background-image: url(/assets/img/img-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
  }
  .login-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .login-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-area {
    width: 350px;
    padding: 50px 30px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 25px;
  }
  .login__input-box + .login__input-box {
    padding-top: 10px;
  }
  .login__input-box {
    position: relative;
    &::before {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: black;
    }
    &.login {
      &::before {
        content: url("/assets/img/icon-user.svg");
        padding: 5px;
      }
    }
    &.password {
      &::before {
        content: url("/assets/img/icon-password.svg");
        padding: 8px;
      }
    }
  }
  .login-input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: initial;
    background-color: rgba(0,0,0,0.4);
    padding-left: 50px;
    &::placeholder {
      color: #555;
    }
  }
  input:focus {
    outline: none;
  }
  .btn-box {
    width: 100%;
    padding: 10px 0;
    background-color: #AA0611;
    border: none;
  }
  .login-btn {
    margin-top: 20px;
  }
  .btn-text {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
  }
}