<footer class="footer">
  <div class="footer__inner">
    <div class="valbers-info">
      <p class="valbers-info__text footer__p mb-0">밸버스(Valbers)</p>
      <span class="valbers-bar"></span>
      <p class="valbers-info__text footer__p mb-0">대표자: 조석환</p>
      <span class="valbers-bar"></span>
      <p class="valbers-info__text footer__p mb-0">사업자 번호: 795-34-01169</p>
    </div>
    <div class="footer__box">
      <address class="side-menu__address mb-0">
        <p class="footer__p mb-0">
          경기도 부천시 장말로 289,
          B1층 B-2호 (심곡동)
        </p>
      </address>
    </div>
    <div class="footer__right">
      <p class="copyright footer__p mb-0">
        <a href="/login.html">copyright All rights reserved</a>
      </p>
    </div>
  </div>
</footer>
