<aside class="side-menu @@pages">
  <section class="side-menu__inner">
    <header class="side-menu__header">
      <h1 class="logo">
        <a href="/">
          <img src="/assets/img/logo.png" alt="로고" />
        </a>
      </h1>
    </header>

    <div class="side-menu__body">
      <nav class="gnb">
        <ul class="gnb__ul">
          <li>
            <a class="gnb-link active" href="/about.html">회사소개</a>
          </li>
          <li class="@@if(nav === 'pneumatic-product') {active}">
            <div class="menu__1depth d-flex">
              <p class="mb-0">공압제품</p>
              <i class="gnb__icon @@if(nav === 'pneumatic-product') {active}"></i>
            </div>
            <ul class="gnb__sub__ul @@if(nav === 'pneumatic-product') {active}">
              <li>
                <p class="gnb-2depth__title mb-0">공압 구동기</p>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product01.html">스카치요크타입</a></li>
                  <li><a href="/product02.html">랙앤피니언타입</a></li>
                  <li><a href="/product03.html">중대형타입</a></li>
                  <li><a href="/product04.html">리니어타입</a></li>
                </ul>
              </li>
              <li>
                <p class="gnb-2depth__title mb-0">공압 자동 밸브</p>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product201.html">스크류 1PC볼 밸브</a></li>
                  <li><a href="/product202.html">스크류 3PC볼 밸브</a></li>
                  <li><a href="/product203.html">플랜지 볼 밸브</a></li>
                  <li><a href="/product204.html">스크류 3-way 볼 밸브</a></li>
                  <li><a href="/product205.html">플랜지 3-way 볼 밸브</a></li>
                  <li><a href="/product206.html">버터플라이 밸브</a></li>
                  <li><a href="/product207.html">하이퍼포먼스 버터플라이 밸브</a></li>
                  <li><a href="/product208.html">플라스틱 플랜지 볼 밸브</a></li>
                  <li><a href="/product209.html">플라스틱 버터플라이 밸브</a></li>
                  <li><a href="/product210.html">Y 타입 밸브</a></li>
                  <li><a href="/product211.html">탱크 바텀 볼 밸브</a></li>
                  <li><a href="/product212.html">탱크 바텀 플러쉬 밸브</a></li>
                  <li><a href="/product213.html">나이프 게이트 밸브</a></li>
                  <li><a href="/product214.html">2-스테이지 플랜지 밸브</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="@@if(nav === 'transmission-product') {active}">
            <div class="menu__1depth d-flex">
              <p class="mb-0">전동제품</p>
              <i class="gnb__icon @@if(nav === 'transmission-product') {active}"></i>
            </div>
            <ul class="gnb__sub__ul @@if(nav === 'transmission-product') {active}">
              <li>
                <p class="gnb-2depth__title mb-0">전동 구동기</p>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product301.html">쿼터 턴 타입</a></li>
                  <li><a href="/product302.html">리니어 타입</a></li>
                </ul>
              </li>
              <li>
                <p class="gnb-2depth__title mb-0">전동 자동 밸브</p>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product401.html">스크류 1PC 볼 밸브</a></li>
                  <li><a href="/product402.html">스크류 3PC 볼 밸브</a></li>
                  <li><a href="/product403.html">플랜지 볼 밸브</a></li>
                  <li><a href="/product404.html">버터플라이 밸브</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="@@if(nav === 'globe-product') {active}">
            <div class="menu__1depth d-flex">
              <p class="mb-0">글로브 밸브</p>
              <i class="gnb__icon @@if(nav === 'globe-product') {active}"></i>
            </div>
            <ul class="gnb__sub__ul @@if(nav === 'globe-product') {active}">
              <li>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product501.html">온/오프타입</a></li>
                  <li><a href="/product502.html">컨트롤 타입 ANSI CL</a></li>
                  <li><a href="/product503.html">컨트롤 타입</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="@@if(nav === 'pinch-product') {active}">
            <div class="menu__1depth d-flex">
              <p class="mb-0">핀치 밸브</p>
              <i class="gnb__icon @@if(nav === 'pinch-product') {active}"></i>
            </div>
            <ul class="gnb__sub__ul @@if(nav === 'pinch-product') {active}">
              <li>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product601.html">핀치밸브</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="@@if(nav === 'accessories') {active}">
            <div class="menu__1depth d-flex">
              <p class="mb-0">악세사리</p>
              <i class="gnb__icon @@if(nav === 'accessories') {active}"></i>
            </div>
            <ul class="gnb__sub__ul @@if(nav === 'accessories') {active}">
              <li>
                <ul class="gnb-2depth__ul list-style">
                  <li><a href="/product701.html">리미트 스위치 박스</a></li>
                  <li><a href="/product702.html">솔레노이드 밸브</a></li>
                  <li><a href="/product703.html">에어필터 레귤레이터</a></li>
                  <li><a href="/product704.html">포지셔너</a></li>
                  <li><a href="/product705.html">수동 기어 박스</a></li>
                  <li><a href="/product706.html">스피드 컨트롤러</a></li>
                  <li><a href="/product707.html">소음기</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="gnb-link" href="/board.html">게시판</a>
          </li>
          <li>
            <a class="gnb-link" href="mailto:valbers@naver.com">고객지원</a>
          </li>
        </ul>
      </nav>
    </div>

    <footer class="side-menu__footer">
      <div class="main-intro-button">
        <button type="button" class="pdf__download">
          <div class="pdf-download__wrap">
            <span class="download__text">PDF 다운로드</span>
            <i class="download__arrow"></i>
          </div>
        </button>
      </div>
    </footer>
  </section>
</aside>
